:root {
    /*--- HSL Colors ---*/
    --clr-primary-700: hsl(300, 43%, 22%);
    --clr-accent-400: hsl(333, 80%, 67%);
    --clr-neutral-400: hsl(303, 10%, 53%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);
} 
/*--- Reset ---*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-color: var(--clr-white);
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    min-height: 100vh;
    padding: 5rem 1.5rem;
}

/*--- Main Layout ---*/
.container {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
}

/*--- Hero Section ---*/
.hero {
    text-align: center;
}
.hero__title {
    color: var(--clr-primary-700);
    font-size: 2.5rem;
    line-height: 0.8;
    margin-bottom: 1.5rem;
}
.hero__description {
    color: var(--clr-neutral-400);
    line-height: 1.5;
    font-weight: 500;
}

/*--- Ratings ---*/
.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rating-card {
    background-color: var(--clr-neutral-200);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}
.stars {
    margin-bottom: 0.5rem;
}
.stars img {
    margin: 0 2px;
}
.rating-card__text {
    color: var(--clr-primary-700);
    font-weight: 700;
}
/*--- Testimonials ---*/
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-card {
    background-color: var(--clr-primary-700);
    color: var(--clr-white);
    padding: 2.5rem;
    border-radius: 0.5rem;
}
.testimonial-card__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.testimonial-card__avatar {
    width: 40px;
    border-radius: 50%;
}
.testimonial-card__name {
    font-size: 1rem;
}
.testimonial-card__status {
    color: var(--clr-accent-400);
}
.testimonial-card__quote {
    line-height: 1.6;
    font-weight: 400;
}

/*--- Attribution ---*/
.attribution {
    margin-top: 3rem;
    font-size: 0.6rem;
    text-align: center;
}
.attribution a {
    text-decoration: none;
    color: var(--clr-primary-700);
    font-weight: 400;
}

/*--- Desktop Queries ---*/
@media (min-width: 1000px) {
    body {
        background-image: url(/images/bg-pattern-top-desktop.svg), 
        url(/images/bg-pattern-bottom-desktop.svg);
        padding: 8rem 2rem;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem 2rem;
    }
    .hero {
        text-align: left;
        max-width: 450px;
    }
    .ratings {
        justify-content: center;
    }
    .rating-card {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 450px;
        padding: 1.2rem 2rem;
    }
    .rating-card[data-offset="1"] {
        align-self: flex-start;
    }
    .rating-card[data-offset="2"] {
        align-self: center;
    }
    .rating-card[data-offset="3"] {
        align-self: flex-end;
    }
    .testimonial {
        grid-column: 1 / span 2;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        min-height: 300px;
    }
    .testimonial-card[data-offset="2"] {
        margin-top: 2rem;
    }
    .testimonial-card[data-offset="3"] {
        margin-top: 4rem;
    }
    .attribution {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: center;
}
}